body{
    height: 100%;
    width: 80%;
    margin-left: 10%;
}
#main{
    height: auto;
    width: 80%;
    position: absolute;
    font-family: sans-serif;
    color: floralwhite;
    background-color:deepskyblue;
    padding-top: 1%;
    padding-bottom: 2%;
    border: 1px solid black;
    margin-bottom: 2%;
}
.logo{
    margin-right: 30px;
    border-radius: 5%; 
}
nav{
    margin-top: 2%;
    height: 200px;
    width: 100%;
    position: relative;
    background-color: deepskyblue;
    border: 1px solid black;
}
nav ul{
    width: auto;
    margin-left: 10%;
    text-align: center;
    position: fixed;
}
nav ul li{
    position:relative;
    height: auto;
    float: left;
    display: inline-block;
    font-family: sans-serif;
    margin-bottom: 19%;
}
nav ul li a{
    margin-bottom: 10%;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: deepskyblue;
    border-radius: 5%;
    border: 0.5px solid grey;
    
}
nav ul li a:hover,
nav ul li a:focus
{
    background-color: red;
    
}
<<<<<<< HEAD

=======
footer{
    margin-bottom: inital;
    margin-left: 23%;
    position:relative;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    display:block;
}
>>>>>>> origin/master
.slideshow{
    margin-left:30%;
    margin-top: 1%;
}
#txt{
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    border: 1px solid white;
    width: 20%;
    margin-left: 40%;
}
#background{
    position:absolute;
    width: 80%;
    height: auto;
    border-radius: 1%;
}
.formulier{
    width: 60%;
    border: 1px solid grey;
    border-radius: 5%;
}
fieldset{
    border: 1px solid grey;
    border-radius: 5px;
    width: 52.7%;
    margin-left: 23.2%;
}
<<<<<<< HEAD
#kreta{
    position: absolute;
    width: 40.4%;
    border: 1px solid white;
}
#kreta{
    position: relative;
    margin-left: 10%;
    width: 40%;
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
}
footer{
    margin-top: 45%;
    position: absolute;
    text-align: center;
    margin-left: 23%;
    font-family: sans-serif;
    font-size: 15px;
=======
#submit{
    width: 10%;
    border: 1px solid black;
    background-color: lightgray;
    border-radius: 5%;
    display: inline-block;
    text-align: center;
    font-family: sans-serif;
    color: black;
}
#review{
    margin-left: 11%;
    width: 30%;
    
}
#index{
    display: inline-block;
    margin-left: 41%;
}
table{
    width: auto;
    height: auto;
}
th, td{
    border-bottom: 1px solid #ddd;
>>>>>>> origin/master
}