body{
    height: 100%;
    width: 80%;
    margin-left: 10%;
}
#main{
    height: auto;
    width: 80%;
    position: absolute;
    font-family: sans-serif;
    color: floralwhite;
    background-color:deepskyblue;
    padding-top: 1%;
    padding-bottom: 2%;
    border: 1px solid black;
    margin-bottom: 2%;
}
.logo{
    margin-top: 0.1%;
    border-radius: 5%;
}
nav{
    position: relative;
    height:200px;
}
nav ul{
    border-radius: 0.5%;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding:0;
    background-color: deepskyblue;
}
nav ul li{
    float: left;
    margin-left: 5%;
}
nav ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
}
nav ul li a:hover{
    background-color: red;
}
footer{
    margin-bottom: inital;
    margin-left: 23%;
    position:relative;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    display:block;
}

.slideshow{
    margin-left:30%;
    margin-top: 1%;
}
#txt{
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    border: 1px solid white;
    width: 20%;
    margin-left: 40%;
}
#background{
    position:absolute;
    width: 80%;
    height: auto;
    border-radius: 1%;
}
.formulier{
    width: 60%;
    border: 1px solid grey;
    border-radius: 5%;
}
fieldset{
    border: 1px solid grey;
    border-radius: 5px;
    width: 52.7%;
    margin-left: 23.2%;
}
#kreta{
    position: absolute;
    width: 40.4%;
    border: 1px solid white;
}
#kreta{
    position: relative;
    margin-left: 10%;
    width: 40%;
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
}
footer{
    margin-top: 45%;
    position: absolute;
    text-align: center;
    margin-left: 23%;
    font-family: sans-serif;
    font-size: 15px;
}
#submit{
    width: 10%;
    border: 1px solid black;
    background-color: lightgray;
    border-radius: 5%;
    display: inline-block;
    text-align: center;
    font-family: sans-serif;
    color: black;
}
#review{
    margin-left: 11%;
    width: 30%;
    
}
#index{
    display: inline-block;
    margin-left: 41%;
}
table{
    width: auto;
    height: auto;
}
th, td{
    border-bottom: 1px solid #ddd;

}
#vliegt{
    margin-left: 45%;
}
#vlieg{
    text-align: center;
}